<div class="ht-table-wrapper">
  <!-- Search bar -->
  <div *ngIf="searchable" class="ht-table-search">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input 
        pInputText 
        type="text" 
        [(ngModel)]="searchText"
        (ngModelChange)="applySearch()"
        [placeholder]="searchPlaceholder"
        class="ht-search-input"
      />
    </span>
  </div>

  <!-- Table -->
  <p-table
    [value]="filteredData"
    [columns]="columns"
    [paginator]="paginator"
    [rows]="rows"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="loading"
    [selectionMode]="selectionMode"
    [(selection)]="selectedRows"
    (onRowSelect)="handleRowSelect($event)"
    (onRowUnselect)="handleRowUnselect($event)"
    [responsiveLayout]="responsiveLayout"
    [scrollable]="scrollable"
    [scrollHeight]="scrollHeight"
    styleClass="ht-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" 
            [pSortableColumn]="col.sortable ? col.field : null"
            [style.width]="col.width">
          {{ col.header }}
          <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="actions.length > 0" style="width: 150px">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="!col.template">
            {{ getNestedValue(row, col.field) }}
          </ng-container>
          <ng-container *ngIf="col.template && isTemplateFunction(col.template)">
            {{ callTemplateFunction(col.template, row) }}
          </ng-container>
          <ng-container *ngIf="col.template && !isTemplateFunction(col.template)">
            <ng-container *ngTemplateOutlet="col.template; context: { $implicit: row }"></ng-container>
          </ng-container>
        </td>
        <td *ngIf="actions.length > 0">
          <div class="ht-table-actions">
            <ng-container *ngFor="let action of actions">
              <p-button
                *ngIf="isActionVisible(action, row)"
                [icon]="action.icon"
                [severity]="action.severity || 'secondary'"
                [pTooltip]="action.tooltip"
                tooltipPosition="top"
                (click)="action.handler(row)"
                [text]="true"
                [rounded]="true"
                size="small"
              ></p-button>
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + (actions.length > 0 ? 1 : 0)" class="ht-table-empty">
          <div class="empty-state">
            <i class="pi pi-inbox"></i>
            <p>{{ emptyMessage }}</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
